#outer{
    height:200px;
    width:200px;
    border: 2px solid black;
    font-size: 20px;
    margin: 20px;
}
#inner{
    height:100px;
    width: 100px;
    background-color: aqua;
    font-size: 2em;
    
}
button{
    font-size: 50px;
    border-radius: 6px;
    padding-left: 1em;/*50 px space left */
    padding-right: 1em;/*50 px space right*/
}
